<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Create a group</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Group Name" aria-label="Username"
                        aria-describedby="basic-addon1" [(ngModel)]="groupname">
                </div>
                <div class="mb-3">
                    <ng-select [items]="options" [multiple]="true" bindLabel="name" [(ngModel)]="selectedOptions" [closeOnSelect]="false"
                        placeholder="Select Group Members" [virtualScroll]="true">
                    </ng-select>
                </div>
                

                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                        placeholder="Group Objective" [(ngModel)]="groupobjective"></textarea>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmit()" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>