
<div class="container  position-absolute top-50 start-50
 translate-middle border h-50 text-center m-0 p-0 shadow rounded maincontent">


 <form>
  
  <div class="mb-3 row pt-3">
    <label for="exampleInputEmail1" class="col-sm-3 col-form-label p-0 pt-2">Email</label>
    <div class="col-sm-8 p-0">
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address" aria-describedby="emailHelp" #emailInput>
    </div>
  </div>
  
  <div class="mb-3 row">
    <label for="exampleInputPassword1" class="col-sm-3 col-form-label p-0 pt-2">Password</label>
    <div class="col-sm-8 p-0">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" #passwordInput>
    </div>
  </div>
  
</form>

<button class="btn btn-primary"
  [hidden]="authService.isLoggedIn"
  (click)="authService.login(emailInput.value, passwordInput.value).subscribe()"
>Login</button>
<button class="btn btn-primary"
  [hidden]="!authService.isLoggedIn"
  (click)="authService.logout()"
>Logout</button>

<button class="btn btn-primary ms-2">Signup</button>



</div>
