<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Homepage Title</title>
</head>

<body>

  <div class="container m-0 p-0 lifecon">

    <div class="container m-0 p-0 lifecon">

      <div class="container m-0 p-0 lifecon position-relative">

        <div class="container-fluid d-flex justify-content-center searchbar">
          <form class="d-flex" role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary ml-2" (click)="onSearch()">Search</button>
          </form>
      
          <div class="search-results">
            <div *ngFor="let result of searchResults">
              <!-- Display search results as needed -->
              {{ result.firstname }}
            </div>
          </div>
        </div>
      
      </div>
      
    
    </div>
    

    <div class="container p-0 m-0 mainmm">

      <div class="container border-bottom p-0 m-0">
        <div class="container row p-0 m-0">
          <div class="col-1 p-0 imgbox1">
            <img src="assets\images\PikPng.com_profile-icon-png_805068.jpg"
              class="rounded-circle" alt="Cinque Terre" width="40" height="40">
          </div>
          <div class="col p-0" *ngIf="selectedName === null">
            <!-- Content for null selectedName -->
          </div>
          <div class="col p-0" *ngIf="selectedName !== null">
            {{ selectedName }}
          </div>
        </div>
      </div>

      <div class="container border p-0 m-0 messagebox">
       <h1>Hi there just a test</h1>
      </div>

      
      <div class="container sendmessagebox border">
        <form class="row row-cols-lg-auto g-3 align-items-center">
          <div class="col-8">
            <div class="input-group">
              <input type="text" class="form-control"  placeholder="Type your message..." />
            </div>
          </div>
          <div class="col-1">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
      

    </div>

    <div class="container shadow p-0 sidebar">

      <div class="container row p-0 m-0 border-bottom">
        <div class="col-3 p-0">
          <h4 style="margin: 0;">Chat</h4>
        </div>
        <div class="col-2 p-0 probox">
          <p>1</p>
        </div>
      </div>

      <div class="container row p-1 mb-1 ms-0 rounded indibox" *ngFor="let x of names"
        (click)="handleContainerClick(x)">
        <div class="col-3 p-0 mt-2 imgbox">
          <img src="assets\images\PikPng.com_profile-icon-png_805068.jpg"
            class="rounded-circle" alt="Cinque Terre" width="40" height="40">
        </div>
        <div class="col-8 ps-0 mt-2 probox">
          <p>{{ x }}</p>
        </div>
      </div>

    </div>

    <div class="col-2 border rounded ms-3 mb-2 position-absolute bottom-0 start-0" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">
      <p style="margin: 5px 0 5px 0; text-align: center;">Create new group</p>
    </div>
    <app-modal></app-modal>

  </div>

</body>

</html>
