<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>homepage-title</title>
</head>

<body>

  <div class="container">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid d-flex justify-content-center">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>


  <div class="container border sidebar">
    <br>


    <div class="container  p-2 rounded shadow row mb-1" *ngFor="let x of names">
      <div class="mt-2 col-1">
        <img src="assets/skull-devil-cyborg-samurai-face-3d-rendering-ai-generated-photo.jpeg" class="rounded-circle"
          alt="Cinque Terre" width="30" height="30">
      </div>
      <div class="col-8 ms-3 mt-2">
        <p>{{x}}</p>
      </div>
    </div>



    <a (click)="duplicateContainer()" class="btn btn-primary btn-lg sticky-button rounded-circle">
      <span class="text-white">A</span>
    </a>

    <!-- Button trigger modal -->
    <button type="button" class="btn shadow" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Create new group
    </button>

  
<app-modal></app-modal>
  </div>




</body>

</html>